/apps/config/common_parameters.yml
/apps/api/config/parameters.yml
/apps/frontend/config/parameters.yml
/build/
/phpunit.xml
/vars/*
!/vars/api/cache
/vars/api/cache/*
!vars/api/cache/.gitkeep
!/vars/api/logs
/vars/api/logs/*
!vars/api/logs/.gitkeep
!/vars/api/sessions
/vars/api/sessions/*
!vars/api/sessions/.gitkeep
!/vars/frontend/cache
/vars/frontend/cache/*
!vars/frontend/cache/.gitkeep
!/vars/frontend/logs
/vars/frontend/logs/*
!vars/frontend/logs/.gitkeep
!/vars/frontend/sessions
/vars/frontend/sessions/*
!vars/frontend/sessions/.gitkeep
!vars/SymfonyRequirements.php
/vendor/
/webs/api/bundles/
/webs/frontend/bundles/
